
                <h1 class="form__title">Вход</h1>
                <div class="form__row">
                    {{{loginInput}}}
                    {{{passwordInput}}}
                </div>
                <div class="form__row">
                    {{!-- <button type="submit" class="btn btn__filling">Войти</button> --}}
                    {{{submitButton}}}
                    <a rel="stylesheet" href="../Registration/Registration.hbs" class="form__link">Нет аккаунта?</a>
                </div>
            </form>

 
