<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./src/layout/main/index.css">
<html>
    <head>

        <title>kek</title>
    </head>
    <body>
        <div class="demo-routing">
            <h1>Страницы</h1>
            <a href="./src/pages/Error/Error.hbs" class="demo-routing__link">1. Error`s</a>
            <a href="./src/pages/Login/Login.hbs" class="demo-routing__link">2. Login page</a>
            <a href="./src/pages/Registration/Registration.hbs" class="demo-routing__link">3. Registration page</a>
            <a href="./src/pages/Profile/Profile.hbs" class="demo-routing__link">4. Profile page</a>
            <a href="./src/pages/Chats/Chats.hbs" class="demo-routing__link">5. Заглушка чатов и ленты переписок</a>
            <a href="./src/pages/EditProfile/editProfile.hbs" class="demo-routing__link">6. Edit Profile</a>
            <a href="./src/pages/EditPassword/editPassword.hbs" class="demo-routing__link">7. Change Password</a>
        </div>
    </body>
</html> 
