.btn {
  font-size: 13px;
  padding: 5px 5px;
  background: none;
  border: solid 1px var(--black);
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}
.btn:hover {
  opacity: 0.4;
}
.btn__filling {
  color: aliceblue;
  background-color: var(--black);
}
