.form {
  border: solid 2px var(--light-grey);
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  min-width: 300px;
  background-color: var(--white);
}
.form__title {
  font-size: 22px;
  margin: 0 auto 16px;
}
.form__row {
  display: flex;
  flex-direction: column;
}
.form__link {
  font-size: 13px;
  text-decoration: none;
  margin-top: 8px;
  text-align: center;
}
