<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../layout/main/index.css">
    <title>Login</title>
</head>
<body>
  <div class="profile">
      <div class="profile__wrap">
        <div class="profile__avatar-wrapper">
            <img class="profile__avatar" src="http://placekitten.com/100/100" alt="аватар">
            <img class="profile__edit-avatar" src="../../../static/img/pencil.svg" alt="редактировать аватар">
        </div>
        <div class="profile__title">Name</div>
        <div class="profile__info">
            <div class="profile__info-row">
                <div class="profile__info-value">Email</div>
                <input class="profile__info-input" name="email" placeholder="value"/>
            </div>
            <div class="profile__info-row">
                <div class="profile__info-value">Login</div>
                <input class="profile__info-input" name="login" placeholder="value"/>
            </div>
            <div class="profile__info-row">
                <div class="profile__info-value">First Name</div>
                <input class="profile__info-input" name="first_name" placeholder="value"/>
            </div>
            <div class="profile__info-row">
                <div class="profile__info-value">Last Name</div>
                <input class="profile__info-input" name="secod_name" placeholder="value"/>
            </div>
            <div class="profile__info-row">
                <div class="profile__info-value">Nickname</div>
                <input class="profile__info-input" name="display_name" placeholder="value"/>
            </div>
            <div class="profile__info-row">
                <div class="profile__info-value">Phone Number</div>
                <input class="profile__info-input" name="phone" placeholder="value"/>
            </div>
        </div>
        <div class="profile__links">
            <button type="submit" class="btn btn__filling">Save</button>
        </div>
      </div>
  </div>
</body>
</html>