
    <div class="profile">
        <div class="profile__wrap">
            <div class="profile__avatar-wrapper">
                <img class="profile__avatar" src="http://placekitten.com/100/100" alt="аватар">
                <img class="profile__edit-avatar" src="/static/img/pencil.svg" alt="редактировать аватар">
            </div>
            <div class="profile__info">
                <div class="profile__info-row">
                    <p class="profile__info-value">Old Password</p>
                    <input class="profile__info-input" type="password" name="oldPassword" placeholder="insert your password"/>
                </div>
                <div class="profile__info-row">
                    <p class="profile__info-value">New Password</p>
                    <input class="profile__info-input" type="password" name="newPassword" placeholder="insert new password"/>
                </div>
                <div class="profile__info-row">
                    <p class="profile__info-value">Confirm New Password</p>
                    <input class="profile__info-input" type="password" name="confirmNewPassword" placeholder="confirm new password"/>
                </div>
            </div>
            <div class="profile__links">
                <button type="submit" class="btn btn__filling">Save</button>
            </div>
        </div>
    </div>
