
        {{!-- <form class="profile__wrap profile__form"> --}}
            <div class="profile__avatar-wrapper">
                <img class="profile__avatar" src="http://placekitten.com/100/100" alt="аватар">
                <img class="profile__edit-avatar" src="/static/img/pencil.svg" alt="редактировать аватар">
            </div>
            <div class="profile__info">
                {{{olpPasswordInput}}}
                {{{newPasswordInput}}}
                {{{passwordRepeatedInput}}}
            </div>
            <div class="profile__links">
                {{{submitButton}}}
            </div>
