.profile {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile__avatar-wrapper {
  margin: 20px 0 10px 0;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile__avatar-wrapper:hover .profile__avatar {
  opacity: 0.2;
}
.profile__avatar-wrapper:hover .profile__edit-avatar {
  z-index: 1;
}
.profile__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.profile__edit-avatar {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 35px;
  z-index: -1;
}
.profile__title {
  margin-bottom: 0 0 40px 0;
  font-size: inherit;
}
.profile__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 60%;
  max-width: 800px;
  padding: 0 15px;
  border-radius: 4px;
}
.profile__info {
  width: 100%;
  font-size: 14px;
}
.profile__info-value {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
.profile__info-name {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
.profile__info-input {
  outline: none;
  border: none;
  background-color: inherit;
  border-radius: 5px;
}
.profile__info-input:focus-visible {
  box-shadow: 4px 4px 14px 2px;
  background-color: inherit;
}
.profile__info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px var(--light-grey);
  width: 100%;
  margin-bottom: 24px;
}
.profile__links {
  margin-top: 28px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  min-width: 120px;
}
.profile__link {
  margin: 0 0 10px 0;
}
.profile__link-edit {
  text-decoration: none;
  transition: 0.4s;
}
.profile__link-edit:hover {
  opacity: 0.4;
}
.profile__link-exit {
  text-decoration: none;
  transition: 0.4s;
  color: var(--red);
}
.profile__link-exit:hover {
  opacity: 0.4;
}
