
        {{!-- <form class="input-area"> --}}
          <i class="input-area__file">icon</i>
          <input class="input-area__input" name="title" id="message"></input>
          <button type="submit" class="input-area__button">отпрвить</button>
        