<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="../../layout/main/index.css">
  <title>Login</title>
</head>

<body>
  <main>
    <h1>Скоро здесь будут чаты</h1>
  </main>
</body>

</html>
