
        {{!-- <form class="input-area"> --}}
          <i class="input-area__file">icon</i>
          <textarea class="input-area__input" name="message" id="message"></textarea>
          <button type="submit" class="input-area__button">отпрвить</button>
        