    <h4>Добавить пользователя</h4>
    <div class="add-user-form__search">
        <div class="chat-sidebar__message-search">
            <input class="chat-sidebar__message-search-input" placeholder="Search" name="login">
        </div>
        {{{submitButton}}}
    </div>
    <div class="add-user-search-results">
        {{#each searchResults}}
        <div class="add-user-search-result" data-uid="{{id}}">
            <span>{{login}}</span>
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999756 9H8.99976M8.99976 9H16.9998M8.99976 9V17M8.99976 9V1" stroke="#CCCCCC"
                    stroke-linecap="round" />
            </svg>
        </div>
        {{/each}}
