<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../../layout/main/index.css">
    <title>Login</title>
</head>
<body>
  <div class="error">
    <div class="error__wrap">
        <div class="error__number">404</div>
        <div class="error__message">Любой номер ошибки задается переменной</div>
        <a href="../Chats/Chats.hbs" class="error__redirect">Назад к чатам</a>
    </div>
  </div>
</body>
</html>